{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block body %}
<h1>Card game</h1>

<p>För detta spel har jag skapat 3 applikationsklasser.</p>

<p>Nedan är samtliga routes som används för att skapa spelet "Card Game".</p>

<p>Ytterligare längre ned på sidan är en genomgång över applikationsklasserna samt strukturen på klasserna och dess relationer. Jag har även inkluderat ett UML klass diagram som visualiserar strukturen och relationerna.</p>

<ul>
    {#<li><a href="{{ path('test_roll_dice') }}">Roll one dice</li>
    <li><a href="{{ path('test_roll_num_dices', {num: 5}) }}">Roll many dice</li>
    <li><a href="{{ path('test_dicehand', {num: 5}) }}">Roll dicehand</li>
    <li><a href="{{ path('pig_init_get') }}">Game Pig Start</li>#}
    <li><a href="{{ path('card_deck') }}">Deck</li>
    <li><a href="{{ path('card_deck_shuffle') }}">Shuffled Deck</li>
    <li><a href="{{ path('card_deck_draw') }}">Draw</li>
</ul>

{% endblock %}